body{
    background-color: rgba(31, 141, 66, 0.72);
}
.calculator{
    background-color: white;
    margin-top: 10%;
    width: 415px;
    height: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-top: 10px;
    border-radius: 10px;

}
.name{
    text-align: center;
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    padding-bottom: 10px;
}
.input{
    background-color: lightgray;
    border-radius: 5px;
    margin:5px;
    margin-bottom: 20px;
    text-align: right;
    font-size: xx-large;
    height: 40px;
}
.local{
    margin-top: 5px;
    width:100%;
}
.number{
    text-align: center;
}
footer{
    text-align: center;
    color: white;
    margin-top: 5px;
    font-size: x-small;
}

@media screen and (max-width: 740px) {
    .title{
        text-align: center;
        font-size: xx-large;
    }
    .calculator{
        background-color: white;
        margin: 2%;
        margin-bottom: 2px;
        width: 96%;
        height:95vh;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 5%;
        border-radius: 0;
    }
    .main-input{
        font-size: 50px;
    }
    .minor-input{
        font-size: 30px;
    }
    .local{
        margin-top: 15px;
        width:90%;
        height: 70px;
    }
    .button{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    footer{
        text-align: center;
        color: white;
        margin-top: 0;
        font-size: small;
    }
}
